* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3e7bff;
}

html {
    font-size: 62.5%;
    font-family: 'Abhaya Libre';
}

body {
    font-size: 1.6rem;
    background: #f3f3fd;
}

/*** Common ***/
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    width: 130px;
    height: 50px;
    background: var(--primary-color);
    border-radius: 10px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.56;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.sub-heading {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.63;
    letter-spacing: 5px;
}

.heading {
    margin-top: 30px;
    width: 370px;
    color: #000000;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.foot {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*** Header ***/
.header {
    padding-top: 30px;
}

.logo img {
    width: 200px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    align-items: center;
    margin-left: 400px;
}

.navbar__link {
    position: relative;
    color: #404040;
    padding: 4px 20px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.navbar__link:hover, .navbar__link--active {
    font-weight: 700;
}

.navbar__link--active::after {
    position: absolute;
    bottom: 0;
    left: 17px;
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    border-radius: 2px;
    background: #125FBF;
}

/*** Hero ***/
.hero {
    margin-top: 100px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__img {
    width: 200px;
}

.hero__content {
    flex-shrink: 0;
    max-width: 70%;
}

.hero__heading {
    margin-top: 30px;
    width: 570px;
    color: #000000;
    font-size: 7rem;
    font-weight: 800;
    line-height: 1.2;
}

.hero__heading strong {
    color: var(--primary-color);
}

.hero__desc {
    margin-top: 30px;
    color: #8A8585;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.56;
}

.search-box {
    margin-top: 50px;
    width: 500px;
    background: #fff;
    padding: 12px 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 40px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
    margin-left: 10px;
}

.hero__btn img {
    width: 30px;
}

.hero__btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--primary-color);
}

/*** Features ***/
.features {
    margin-top: 145px;
}

.features__inner {
    display: flex;
    justify-content: space-between;
}

.features__desc {
    margin-top: 15px;
    width: 370px;
    color: #8A8585;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.56;
}

.features__list {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.features__item:nth-child(2) {
    margin-top: 150px;
}

.features__item--img {
    width: 70px;
}

.features__item--heading {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.2;
}

.features__item--desc {
    margin-top: 10px;
    width: 200px;
    color: #8A8585;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.56;
}

/*** Helpful ***/
.helpful {
    margin-top: 75px;
    padding-bottom: 130px;
}

.helpful-heading {
    width: 500px;
}

.helpful__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
}

.helpful__item {
    width: 370px;
    border-radius: 20px;
    transition: 0.5s ease;
}

.helpful__item:hover {
    transition: 0.5s ease;
    border-radius: 20px;
    background: #FFF;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.helpful-thumb {
    width: 370px;
    height: 318px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.helpful-info {
    padding: 24px 0;
    transition: 0.5s ease;
}

.helpful__item:hover .helpful-info {
    padding-left: 18px;
    padding-right: 18px;
    transition: 0.5s ease;
    cursor: pointer;
}

.helpful-info__heading {
    color: #000000;
    font-family: 'Poppins';
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.helpful-info__desc {
    margin-top: 6px;
    width: 340px;
    color: #8A8585;
    font-family: 'Poppins';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7;
}

.price {
    color: #171100;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

/*** Footer ***/
.footer {
    padding: 150px 0 20px;
    background: #FFF;
    border-radius: 20px;
}

.footer-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 70px;
}

.footer-logo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 10px;
}

.footer-desc {
    margin-top: 10px;
    width: 300px;
    color: #8A8585;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.footer__social {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-column__heading {
    color: #1678F2;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.56;
}

.footer__list {
    margin-top: 5px;
}

.footer__link {
    color: #8A8585;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.25;
    white-space: nowrap
}

.footer__contact {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-separate {
    margin-top: 95px;
    width: 1140px;
    height: 1px;
    background: #605D64;
}

.footer-copyright {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    color: #6F6C90;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-policy {
    color: #6F6C90;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-policy strong {
    color: #4A3AFF;
    text-decoration: underline;
}